{% extends 'base.html.twig' %}

{% block title %}à propos{% endblock %}

{% block body %}
    <section data-jarallax data-speed=".8" class="py-15 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax"
             style="background-image: url('/img/cover-19.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <blockquote class="blockquote mb-0">
                        <p class="h3 text-white">
                            {{ peintre.aPropos }}
                        </p>
                        <footer class="blockquote-footer mb-0 text-white-50">
                            {{ peintre.prenom }} {{ peintre.nom }}
                        </footer>
                    </blockquote>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

{% endblock %}
