<!-- ARTICLES -->
<section class="pb-8 pt-7 pb-md-11 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h2 class="mb-0">
                    Dernières actualités
                </h2>

                <!-- Text -->
                <p class="mb-5 text-muted">
                    These can be split into smaller grid sizes, though we recommend half or thirds
                </p>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-12 col-md-4 d-flex">

                <!-- Card -->
                <div class="card shadow-light-lg mb-6 lift lift-lg" data-aos="fade-up" data-aos-delay="100" >

                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Titre de l'actualité.
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            The markup for vertical articles is the same for a half and thirds split, it's controlled with columns.
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta" href="#!">

                        <!-- Divider -->
                        <hr class="card-meta-divider">

                        <!-- Date -->
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02">May 02</time>
                        </p>

                    </a>

                </div>

            </div>
            <div class="col-12 col-md-4 d-flex">

                <!-- Card -->
                <div class="card shadow-light-lg mb-6 lift lift-lg" data-aos="fade-up" data-aos-delay="100" >

                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Titre de l'actualité.
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            The markup for vertical articles is the same for a half and thirds split, it's controlled with columns.
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta" href="#!">

                        <!-- Divider -->
                        <hr class="card-meta-divider">

                        <!-- Date -->
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02">May 02</time>
                        </p>

                    </a>

                </div>

            </div>
            <div class="col-12 col-md-4 d-flex">

                <!-- Card -->
                <div class="card shadow-light-lg mb-6 lift lift-lg" data-aos="fade-up" data-aos-delay="100" >

                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Titre de l'actualité.
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            The markup for vertical articles is the same for a half and thirds split, it's controlled with columns.
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta" href="#!">

                        <!-- Divider -->
                        <hr class="card-meta-divider">

                        <!-- Date -->
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02">May 02</time>
                        </p>

                    </a>

                </div>

            </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>